#nav-title {
  color: white;
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

#github-link {
  color: white;
  font-size: 120%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}
